.container-fluid {
  background-image: url(../img/back1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50%;
}

.header {
  overflow: hidden;
  background-color: #ccebff;
  padding: 20px 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.header #logo {
  background-color: white;
  border-radius: 50%;
  margin-bottom: 10px;
  height: 60px;
}

.fa-phone {
  margin-left: 40%;
}

.fa-envelope {
  margin-left: 20%;
}

ul {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #00ace6;
}

li {
  margin-right: 50px;
  text-align: center;
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin-right: 50px;
}

li a:hover {
  background-color: teal;
  color: yellow;
}
